/*#content {*/
/*    margin-left: 240px;*/
/*}*/



body {
    line-height: 1.6;
    margin: 20px;
}

#sidebar {
    float: left;
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
}

#content {
    margin-left: 240px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.link-to-page {
    text-decoration: none;
    color: #fff;
}

.table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}
